@model IQueryable<Pet>

<div class="container-image">
    <div class="gallery">
        <img src="/images/HomePage/Cat Beans.jpg" class="img-fluid" alt="" />
        <div class="desc">  </div>
    </div>
    <div class="gallery">
        <img src="/images/HomePage/Dog beans.jpg" class="img-fluid" alt="" />
        <div class="desc">  </div>
    </div>
    <div class="gallery">
        <img src="/images/HomePage/download.jpg" class="img-fluid" alt="" />
        <div class="desc">  </div>
    </div>
    <div class="gallery">
        <img src="/images/HomePage/images.jpg" class="img-fluid" alt="" />
        <div class="desc">  </div>
    </div>
</div>
