@model IQueryable<Pet>

<div class="container-image">
    <div class="gallery">
        <img src="/images/HomePage/Cat Beans.jpg" class="img-fluid" alt="" />
    </div>
    <div class="gallery">
        <img src="/images/HomePage/Dog beans.jpg" class="img-fluid" alt="" />
    </div>
    <div class="gallery">
        <img src="/images/HomePage/download.jpg" class="img-fluid" alt="" />
    </div>
    <div class="gallery">
        <img src="/images/HomePage/images.jpg" class="img-fluid" alt="" />
    </div>
    <div class="gallery">
        <img src="/images/HomePage/cat smoking.jpg" class="img-fluid" alt="" />
    </div>
    <div class="gallery">
        <img src="/images/HomePage/CatCute.jpg" class="img-fluid" alt="" />
    </div>
    <div class="gallery">
        <img src="/images/HomePage/corgi.jpg" class="img-fluid" alt="" />
    </div>
    <div class="gallery">
        <img src="/images/HomePage/floofer.jpg" class="img-fluid" alt="" />
    </div>
</div>
