@model Pet
@inject IUserRepository userRepository


<div asp-validation-summary="All" class="text-danger"></div>
<form method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <th>Name:</th>
            <td><input asp-for="Name" /></td>
        </tr>
        <tr>
            <th>Species:</th>
            <td><input asp-for="Species" /></td>
        </tr>
        <tr>
            <th>Age:</th>
            <td><input asp-for="Age" /></td>
        </tr>
        <tr>
            <th>Color:</th>
            <td><input asp-for="Color" /></td>
        </tr>
        <tr>
            <th>Breed:</th>
            <td><input asp-for="Breed" /></td>
        </tr>
        <tr>
            <th>Sex:</th>
            <td><input asp-for="Sex" /></td>
        </tr>
        <tr>
            <th>Photo:</th>
            <td>
                <div class="custom-file">
                    <input asp-for="CoverPhoto" class="custom-file-input" id="customFile" />
                    <label class="custom-file-label" for="customFile"> Choose File </label>
                </div>
                <span asp-validation-for="CoverPhoto" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <th></th>
            <td>
                <input type="submit" value="Add Pet" />
            </td>
        </tr>
    </table>
</form>