@model Pet
@inject IPetRepository petRepository

<div class="container">
    <div class="row content">
        <div class="col-md-3 mb-3">
            <img src="@petRepository.GetPetCoverUrl(Model.Id)" class="img-fluid border-color" />
        </div>
        <div class="col-md-6">
            <h3 class="signin-text mb-3"> Update </h3>
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="name"> Name: </label>
                    <input asp-for="Name" name="name" type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Species:</label>
                    <select name="species" asp-for="Species">
                        <option value="Feline">Feline</option>
                        <option value="Canine">Canine</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="age"> Age:</label>
                    <input asp-for="Age" name="age" type="number" required class="form-control" />
                </div>
                <div class="form-group">
                    <label for="color"> Color:</label>
                    <input asp-for="Color" name="color" type="text" required class="form-control" />
                </div>
                <div class="form-group">
                    <label for="breed">Breed:</label>
                    <input asp-for="Breed" name="breed" type="text" required class="form-control" />
                </div>
                <div class="form-group">
                    <label for="sex">Sex:</label>
                    <input type="radio" asp-for="Sex" id="male" name="sex" value="Male"
                           checked>
                    <label for="male">Male</label>

                    <input type="radio" asp-for="Sex" id="female" name="sex" value="Female">
                    <label for="dewey">Female</label>
                </div>
                <div class="form-group">
                    <input type="checkbox" name="SpayNeuter" value="true" checked="@Model.SpayNeuter" />
                    <label for="SpayNeuter"> Spay / Neuter </label>
                </div>
                @*<div class="form-group">
                        <label> Photo: </label>
                        <div class="custom-file">
                            <input asp-for="CoverPhoto" class="custom-file-input" id="customFile" />
                            <label class="custom-file-label" for="customFile"> Choose File </label>
                        </div>
                        <span asp-validation-for="CoverPhoto" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label> Vet Form </label>
                        <div class="custom-file">
                            <input asp-for="VetForm" class="custom-file-input" id="customFileVet" />
                            <label class="custom-file-label" for="customFileVet"> Choose File </label>
                        </div>
                        <span asp-validation-for="VetForm" class="text-danger"></span>
                    </div>*@


                <button type="submit" class="btn btn-class mt-2"> Update Pet </button>
                <a class="btn btn-class mt-2" asp-controller="Pet" asp-action="Detail" asp-route-id="@Model.Id"> Back </a>
            </form>
        </div>
    </div>
</div>