<!DOCTYPE html>

<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title> My Pets </title>
</head>

<body>
    <ul>
        <li>
            <a asp-controller="Pet" asp-action="Index"> My Pets </a>
        </li>
    </ul>
    <div>
        @RenderBody()
    </div>
</body>
</html>
