@model UserChangePasswordViewModel

<h1> Change Password </h1>
<div asp-validation-summary="All" class="text-danger"></div>
<form method="post">
    Current Password:
    <input asp-for="CurrentPassword" type="password" class="form-control" required />
    <br />
    New Password:
    <input asp-for="NewPassword" type="password" class="form-control" required />
    <br />
    Verify Password:
    <input asp-for="VerifyNewPassword" type="password" class="form-control" required />

    <input type="submit" value="Change Password" />
</form>