@model User

<h1> Login </h1>

<form method="post">
    Email:
    <input asp-for="Email" type="email" placeholder="JonDoe@Example.com" required/>
    <br />
    Password:
    <input asp-for="Password" type="password" required />
    <br />
    <input type="submit" value="Login" />
</form>